.marker-label {
  text-align: center;
}

/* Location type Marker */
.marker.location {
  background-image: url("/icons/map/flower--transparent.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  width: 37px;
  height: 36px;
}

.marker.location.completed {
  background-image: url("/icons/map/flower--colored.svg");
}

.marker-label.location {
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;

  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
}

/* Decorative type Marker */
.marker.decorative {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;

  visibility: hidden;
  pointer-events: none;
}

.marker-label.decorative {
  color: black;

  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
}

.show {
  visibility: visible !important;
  pointer-events: auto !important;
}

span {
  transition: font-size 0.2s ease,
    line-height 0.2s ease;
}

.marker {
  transition: background-size 0.2s ease;
}

.marker-label {
  transition: top 0.2s ease;
}

.label--smaller {
  background-size: 80% !important;
}

.label--smaller .marker-label {
  top: 34px !important;
}

.label--smaller * {
  line-height: 8px !important;
}

.label--smaller span {
  font-size: 8px !important;
}
