.marker {
  background-color: black;
  border: 3px solid white;

  width: 10px;
  height: 10px;
}

.marker-label {
  background-color: white;
  color: black;

  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;

  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
}

.marker--ar-completed {
  border-color: red;
  background-color: #fff;
}
