@keyframes bubble {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(3%);
  }
  40% {
    opacity: 0.4;
    transform: scale(1.07) translateY(2%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-chat-bubble {
  animation: bubble 0.5s ease-in-out forwards;
}

@keyframes tweak {
  0% {
    transform: skewX(0deg);
  }

  50% {
    transform: skewX(-3deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

.animate-tweak {
  animation: tweak 0.5s ease-in-out infinite;
}
