@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: Pretendard;
  text-rendering: optimizeLegibility;

  /* font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body1 {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 134%; /* 26.8px */
}

.body2 {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%; /* 21.44px */
}

.body3 {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%; /* 18.76px */
}

.body4 {
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%; /* 16.08px */
}

.body5 {
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%; /* 13.4px */
}

.glassmorph {
  background-color: rgba(0, 0, 0, 0.15) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);

  color: var(--white, #fff) !important;
}

.glassmorph * {
  color: var(--white, #fff) !important;
}

.button-typo {
  color: var(--white, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%; /* 21.44px */
}

.logo-typo {
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 134%; /* 26.8px */
}
