.paused {
  animation-play-state: paused;
}

@keyframes flowRight {
  0% {
    left: var(--left-px);
    background-position: var(
      --background-position-start,
      0%
    );
  }
  100% {
    left: calc(var(--left-px) + 120vw);
    background-position: 100%;
  }
}

.facade-pillar {
  background: linear-gradient(
    270deg,
    #3f9ef1 50%,
    #00064a 80%
  );
  background-size: 250%;

  height: 100%;

  position: absolute;

  animation: flowRight 10s linear forwards;
  transform: translateX(2px);
}

@keyframes flowBackgroundLeft {
  0% {
    background-position: var(
        --background-position-start,
        0%
      )
      0%;
  }
  100% {
    background-position: 105% 0%;
  }
}

.facade-pillar-bg {
  background-size: cover;
  background-repeat: no-repeat;

  mix-blend-mode: color-dodge;

  animation: flowBackgroundLeft 10s linear forwards;
}
