.paused {
  animation-play-state: paused;
}

@keyframes flowRight {
  0% {
    left: var(--left-px);
    background-position: var(
      --background-position-start,
      0%
    );
  }
  100% {
    left: calc(var(--left-px) + 120vw);
    background-position: 100%;
  }
}

.facade-container {
  --gradient-color--left: #4378a6;
  --gradient-color--right: #000fb3;
}

.facade-pillar {
  transition: background 0.5s ease-in-out;

  background: linear-gradient(
    270deg,
    var(--gradient-color--left, #4378a6) 48%,
    var(--gradient-color--right, #000fb3) 70%
  );
  background-size: 250%;

  height: 100%;

  position: absolute;

  animation: flowRight 10s linear forwards;
}

@keyframes flowBackgroundLeft {
  0% {
    background-position: var(
        --background-position-start,
        0%
      )
      0%;
  }
  100% {
    background-position: var(--background-position-end)
      0%;
  }
}

.facade-pillar-bg {
  background-size: cover;
  background-repeat: no-repeat;

  mix-blend-mode: color-dodge;

  animation: flowBackgroundLeft 10s linear forwards;
}
